/* Common styles */
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: var(--page-color);

  .container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
:root {
  --page-color: #ffffff;
  --logo-color: #4d5ae5;
  --hero-background: #2e2f42;
  --logo-background-light: #f4f4fd;
  --main-background-light: #ffffff;
}
button {
  cursor: pointer;
}
/* Reset */
a {
  text-decoration: none;
  color: currentColor;
}
.link {
  text-decoration: none;
}
address {
  font-style: normal;
}
.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
/* Header section */

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 156px;
  padding-right: 156px;
}

.header {
}

.header-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  padding-right: 76px;
}

.header-logo-dark {
  color: var(--hero-background);
}

.footer-logo-light {
  color: var(--logo-background-light);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link:active {
  color: #404bbf;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contacts-link:focus,
.header-contacts-link:hover,
.header-contacts-link:active {
  color: #404bbf;
}

/* Section hero */

.section-hero {
  text-align: center;
  background-color: var(--hero-background);
}
.hero-container {
  width: 1440px;
  height: 600px;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 497px;
}

.hero-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  width: 169px;
  padding: 16px 32px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Section benefits */

.section-benefits {
  padding-top: 120px;
  padding-bottom: 60px;
}

.benefits-title {
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background);
  margin-bottom: 8px;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section functions */

.section-functions {
  text-align: center;
  background-color: #f4f4fd;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-background);
  margin-bottom: 72px;
}

.functions-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.functions-item {
  background-color: var(--main-background-light);
}

.functions-img {
}

/* Section team */

.section-team {
  text-align: center;
  background-color: #f4f4fd;
  padding-top: 60px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-card {
  background-color: var(--main-background-light);
}

.team-img {
}

/* Footer */
.footer-section {
  background-color: var(--hero-background);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  color: var(--logo-color);
}
.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: var(--logo-background-light);
  letter-spacing: 0.02em;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 48px;
}
.projects-example {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.projects-field {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.filter-section {
  text-align: center;
}
.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--logo-background-light);
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.project-card {
  width: (100% - 24 * 2) / 3;
}

.project-card-text {
  border: ;
}
